<a href="#" id="new-button" (click)="newRecord(this)">New</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let warehouse of warehouseData">
      <td>{{ warehouse.name }}</td>
      <td>{{ warehouse.description}}</td>
      <td>{{ warehouse.size}}</td>
      <td>
        <a href="#" (click)="editRecord(this)">Edit</a>
        <a href="#" (click)="deleteRecord(this)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
