<section class="register_area p_100">
  <div class="container">
    <div class="register_inner">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing_details">
            <h2 class="reg_title">Thêm mới kho</h2>
            <form class="billing_inner row">

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">Tên <span>*</span></label>
                  <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="ctype">Loại kho <span>*</span></label>

                  <select class="selectpicker" id="type">
                    <option>Kho công nghiệp</option>
                    <option>Kho lạnh</option>
                    <option>Kho sản xuất</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="size">Kích thước <span>*</span></label>
                  <input type="text" class="form-control" id="size" aria-describedby="size" placeholder="">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="area">Diện tích <span>*</span></label>
                  <input type="text" class="form-control" id="area" aria-describedby="area" placeholder="">
                </div>
              </div>

              <div class="col-lg-12 row">
                <div class="form-group col-lg-4">
                  <label for="ctown1">Thành phố / Tỉnh <span>*</span></label>

                  <select class="selectpicker" id="ctown1">
                    <option>Ha Noi</option>
                    <option>Da Nang</option>
                    <option>TP HCM</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
                  <label for="ctown2">Quận / Huyện <span>*</span></label>

                  <select class="selectpicker" id="ctown2">
                    <option>Ha Noi</option>
                    <option>Da Nang</option>
                    <option>TP HCM</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
                  <label for="ctown3">Phường / Xã <span>*</span></label>

                  <select class="selectpicker" id="ctown3">
                    <option>Ha Noi</option>
                    <option>Da Nang</option>
                    <option>TP HCM</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="address">Địa chỉ <span>*</span></label>
                  <input type="text" class="form-control" id="address" aria-describedby="address">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="email">Email <span>*</span></label>
                  <input type="email" class="form-control" id="email" aria-describedby="email">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="phone">Điện thoại <span>*</span></label>
                  <input type="text" class="form-control" id="phone" aria-describedby="phone">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="rule">Quy tắc <span>*</span></label>
                  <textarea class="form-control" id="rule" rows="3"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="guide">Hướng dẫn sử dụng <span>*</span></label>
                  <textarea class="form-control" id="guide" rows="3"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="descrition">Mô tả <span>*</span></label>
                  <textarea class="form-control" id="descrition" rows="3"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <button type="submit" value="submit" class="btn subs_btn form-control">Đăng ký</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
