Backend/service/AirSnS.Data/bin/
Backend/service/AirSnS.Data/obj/
Backend/service/AirSnS.Service/bin/
Backend/service/AirSnS.Service/obj/
Backend/service/AirSnS/.vs/
Backend/service/AirSnS/bin/
Backend/service/AirSnS/obj/
FontEnd/service/node_modules/
FontEnd/service/.vs/
Refers/
*.DS_Store
