<div class="header_top_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="top_header_left">
            <div class="selector">
                <select class="language_drop" name="countries" id="countries" style="width:300px;">
                  <option value='yt' data-image="assets/img/icon/us.png" data-imagecss="flag yt" data-title="English">English</option>
                  <option value='yu' data-image="assets/img/icon/vn.png" data-imagecss="flag yu" data-title="Vietnam">Vietnam</option>
                </select>
            </div>
            <select class="selectpicker usd_select">
                <option>USD</option>
                <option>VND</option>
            </select>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="top_header_middle">
          <a href="#"><i class="fa fa-phone"></i> Call Us: <span>+84 987 654 321</span></a>
          <a href="#"><i class="fa fa-envelope"></i> Email: <span>support@yourdomain.com</span></a>
          <img src="assets/img/logo.png" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="top_right_header">
          <ul class="header_social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <ul class="top_right">
            <li *ngIf="!authenticationService.logged" class="user"><a href="login">Đăng nhập</a></li>
            <li *ngIf="!authenticationService.logged" class="user"><a href="register">Đăng ký</a></li>
            <li *ngIf="authenticationService.logged" class="user"><a href="logout">Đăng xuất</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
